<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Sum Form</title>
    </head>
    <body>
    	<form class="adding-form" action="/sum_form" method="post">
	    	<header class="form-header">Add two numbers</header>
            <div class="form-elements">
                <input class="username" type="text" name="username" placeholder="Enter your username" required><br>
        	    <input class="a" type="number" name="a" placeholder="Enter first number" required><br>
                <input class="b" type="number" name="b" placeholder="Enter second number" required><br>
            </div>
            <div class ="sign-button">
	    	      <button type="Submit" value="Sign">Submit</button>
            </div>
    	</form>
    </body>
</html>